.hero__btn{
    padding: 10px 31px;
    }
    
    .hero {
    margin-right: auto;
    margin-left: auto;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/Hero.jpg');
    background-position: center;
    background-size: cover;
    max-width: 1600px;
    background-color: var(--secondary-bgk-color);
    height: 600px;
    padding-bottom: 200px;
    padding-top: 200px;
    text-align: center;
    }
    
    .hero__title {
    color: var(--white-text-color);
    @include font(44px, 1.4, 900, 0.06em);
    text-transform: uppercase;
    margin-bottom: 30px;
    }
    
    .hero__container {
    max-width: 696px;
    padding: 0;
    }